.App {
	text-align: center;
	width: 1440px;
}
header {
	width: 1000px;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	justify-content: space-around;
}
.loose,
.win {
	margin: auto;
	font-size: 30px;
	font-weight: bold;
}
.wrapper {
	text-align: center;
	margin-top: 40px;
}

.secret_letter {
	font-size: 40px;
	font-weight: bold;
}
.main_container {
	margin: 0 auto;
	width: 800px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
